


@media screen and (min-width: 750px) {
  .image-with-icon-text__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image-with-icon-text__content > * {
    grid-column: span 2;
  }
  .image-with-icon-text__content .icon-with-text {
    grid-column: span 1;
  }
}


/* #region icon with text */
.icon-with-text {
  display: grid;
  grid-template-columns: auto auto;
}
.icon-with-text__icon {
  padding: 1rem;
  text-align: center;
}
.icon-with-text__icon img {
  width: 100%;
}
.icon-with-text__content {
  padding: 0 1rem;
}
.icon-with-text__content h3 {
  margin: 0;
  letter-spacing: normal;
}
.icon-with-text__content h3 ~ p {
  margin: 0;
}
@media screen and (min-width: 750px) {
  .icon-with-text {
    grid-template-columns: 80px auto;
  }
}
/* #endregion icon with text */
