

.image-with-icon-text__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image-with-icon-text__content > * {
  grid-column: span 2;
}
.image-with-icon-text__content .icon-with-text {
  grid-column: span 1;
}



/* #region icon with text */
.icon-with-text {
  display: grid;
  grid-template-columns: 80px auto;
}
.icon-with-text__icon {
  padding: 1rem;
}
.icon-with-text__icon img {
  width: 100%;
}


/* #endregion icon with text */
