.multirow-with-video video {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}
.multirow-with-video .multirow__inner {
  --grid-desktop-vertical-spacing: 0px;
  --grid-mobile-vertical-spacing: 0;
}
@media screen and (min-width: 990px) {
  .multirow-with-video .image-with-text__content {
    padding: 5rem 6rem 5rem 6rem;
  }
}
