.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: unset;
}
.swiper-button-prev, 
.swiper-button-next {
  top: 50%; 
  width: 32px;
  height: 32px;
  margin-top: -16px;  
}

.swiper-button-prev { 
  left: 16px;
}

.swiper-button-next {
  right: 16px;  
}