.product-offers {
  padding: 20px 25px 25px;
}
.product-offers .title {
  margin: 0;
}

.product-offers.no-heading .title {
  display: none;
}

.product-offers .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .product-offers {
    padding: 20px 25px 25px;
  }
  .product-offers .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}








.variant-images img ~ img {
  display: none;
}


.offer-product:first-child img {
  max-width: 200px;
}

.fixed-bar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}