.product-offers {
  padding: 0;
}
.product-offers .title {
  margin: 0;
}

.product-offers.no-heading .title {
  display: none;
}

.product-offers .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .product-offers {
  }
}



/* #region product-offers */
.product-offers__products-list {
  padding: 20px 25px 25px;
  max-width: 1120px;
  margin: 0 auto;
}

offer-product *{
  pointer-events: none;
}
.offer-product {
  position: relative;
  padding: 0 10px 25px;
  box-shadow: 0 0 0 1px #0000001a,0 7px 9px #0000000d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,auto);
  text-align: center;
  align-content: space-between;
}

.offer-product > * {
  width: 100%;
}
.offer-product[selected] {
  box-shadow: 0 7px 9px 0 rgba(0,0,0,.05),0 0 0 1px #848484;
}
.offer-product__label {
  grid-row: 1/2;
  background-color: var(--offer-label-color);
  color: #fff;
  width: calc(100% + 20px);
  margin: 0 -10px 10px;
  padding: 9px;
  min-height: 40px;
}
.offer-product__title { 
  /* grid-row: 2/3; */
}
.product-offers__featured-image {
  grid-row: 2/3;
}
.offer-product__subtitle {
  /* grid-row: 4/5; */
  font-size: 22px;
  font-weight: bold;
}
.offer-product__price {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: max-content;
  text-align: center;
  min-height: 100px;
}
.offer-product__button {
  grid-row: 4/5;
  max-height: 45px;
}

@media screen and (min-width: 750px) {
  .offer-product__subtitle {
    font-size: 22px;
    font-weight: bold;
  }
}



offer-product-selection {
  display: grid;
  justify-content: center;
}
.variant-images {
  max-width: fit-content;
  min-height: 200px;
}
.variant-images img {
  max-height: 200px;
  max-width: 100%;
  width: 100%;
}

.variant-name {
  display: none;
}

.variants-list {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.variant-option {
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  display: grid;
  gap: 10px;
}
.variant-option * {
  pointer-events: none;
}
.variant-option .variant-option__swatch {
  background-color: gray;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #efefef;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
}
.variant-option.blue .variant-option__swatch {
  background-color: rgb(0, 212, 255);
}
.variant-option.pink .variant-option__swatch {
  background-color: rgb(255, 147, 177);
}
.variant-option.variety .variant-option__swatch {
  background: linear-gradient(to right, #00d4ff 0%, #00d4ff 50%, #ff93b1 50%, #ff93b1 100%);;
}
.variant-option[aria-pressed="true"] .variant-option__swatch {
  box-shadow: 0 0 0 5px #d4d1cb,0 0 0 6px #c5c0b8;
}
.variant-option .variant-option__swatch svg {
  display: none;
  margin: 15px;
}
.variant-option[aria-pressed="true"] .variant-option__swatch svg {
  display: block;
}

@media screen and (min-width: 750px) {
}


.fixed-bar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 20px;
}

@media screen and (min-width: 750px) {
}

/* #endregion product-offers*/
