
.swiper.multicolumn-swiper-desktop {
  padding-bottom: 40px;
}
.swiper-pagination {
  bottom: -5px !important;
}
.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #333;
  background-color: transparent;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000;
}

.swiper-button-prev-custom, .swiper-button-next-custom {
  position: absolute;
  top: calc(50% - 10px);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  z-index: 2;
  cursor: pointer;
}

.swiper-button-prev-custom { 
  left: 16px;
}

.swiper-button-next-custom {
  right: 16px;  
}
.swiper-button-prev-custom .icon {
  transform: rotate(90deg);
}
.swiper-button-next-custom .icon {
  transform: rotate(270deg);
}

