

.multicolumn-icon-text-grid {
  padding: 2rem 3rem;
}
.multicolumn-icon-text-grid .grid {
  --grid-desktop-horizontal-spacing: 0px;
  --grid-desktop-vertical-spacing: 0px;
  --grid-mobile-horizontal-spacing: 0px;
  --grid-mobile-vertical-spacing: 0px;
}
.multicolumn-icon-text-grid .multicolumn-card {
  display: grid;
  align-items: center;
}
.multicolumn-icon-text-grid .multicolumn-card__info {
  padding: 0 1rem;
}
.multicolumn-icon-text-grid .multicolumn-card__info>:nth-child(2) {
  margin-top: 0;
}

@media screen and (min-width:750px) {
  .multicolumn-icon-text-grid .multicolumn-card {
    grid-template-columns: 8rem 1fr;
  }
  .multicolumn-icon-text-grid .multicolumn-card__info {
    padding: 0 1rem;
    min-height: 8rem;
  }
  .multicolumn-icon-text-grid .multicolumn-card__image-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}