.product-offers {
  padding: 0;
}
.product-offers .title {
  margin: 0;
}

.product-offers.no-heading .title {
  display: none;
}

.product-offers .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .product-offers {
  }
}



/* #region product-offers */

.product-offers__products-list {
  padding: 0px 10px 10px;
  max-width: 1120px;
  margin: 0 auto;
}
offer-product *{
  pointer-events: none;
}
.offer-product {
  position: relative;
  cursor: pointer;
  padding: 0 8px 25px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #0000001a,0 7px 9px #0000000d;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  text-align: center;
  align-content: space-between;
}

.offer-product > * {
  width: 100%;
}
.offer-product[selected] {
  box-shadow: 0 7px 9px #0000000d,0 0 0 1px #848484;
  transform: scale(1.03);
  background-color: var(--selected-color,#cee0e5);
}
.offer-product__label {
  left: 100%;
  transform: rotate(45deg);
  transform-origin: top left;
  text-align: center;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,.3);
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  position: absolute;
  z-index: 90;
  background-color: var(--offer-label-color);
  color: #fff;
  width: calc(100% + 20px);
  margin: 0 -10px;
  line-height: 40px;
  font-weight: 600;
}
.offer-product__title {
  font-size: 2rem;
  padding: 10px 0;
}
.offer-product__featured-image {
  /* grid-row: 2/3; */
}
.offer-product__featured-image img {
  max-width: 65px;
  height: fit-content;
}
.offer-product .input-icons {
  height: fit-content;
}
.unchecked-icon {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid #2d3333;
  display: block;
}
.checked-icon{
  display: none;
}
.offer-product:hover .input-icons {
  box-shadow: 0px 0px 4px #6cc;
}

.offer-product[selected] .unchecked-icon{
  display: none;
}
.offer-product[selected] .checked-icon {
  display: block;
  background-color: #277e88;
  padding: 2px;
  border-radius: 4px;
  width: 1.25rem;
  height: 1.25rem;
}
.offer-product__price {
  /* grid-row: 3/4; */
  display: grid;
  grid-template-rows: max-content;
  text-align: center;
  font-size: 1.5rem;
}
.offer-product__subtitle {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333333;
}
.compare-price {
  color: #ed1300;
  font-weight: 400;
  text-decoration: line-through;
  padding-bottom: 5px;
}
.current-price {
  line-height: 1;
}
.price-saved {
  color: #25ae4e;
  font-weight: 700;
}

.offer-product__button {
  display: none;
}

@media screen and (min-width: 750px) {
  .product-offers__products-list {
    padding: 20px 25px 25px;
  }
  .offer-product {
    padding: 0 10px 25px;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 200px 140px 75px;
    text-align: center;
    align-content: space-between;
  }
  .offer-product__label {
    grid-row: 1/2;
    width: calc(100% + 20px);
    margin: 0 -10px;
    line-height: 40px;
  }
  .offer-product__title {
    font-size: 2rem;
    padding: 10px 0;
  }
  .product-offers__featured-image {
    grid-row: 2/3;
  }
  .offer-product__price {
    grid-row: 3/4;
    display: grid;
    grid-template-rows: max-content;
    text-align: center;
    font-size: 1.6rem;
  }

  .offer-product__subtitle {
    font-size: 2.2rem;
  }
  .compare-price {
    color: #ed1300;
    font-weight: 400;
    text-decoration: line-through;
    padding-bottom: 5px;
    font-size: 2.2rem;
  }
  .current-price {
    font-size: 3.2rem;
    line-height: 1;
  }
  .price-saved {
    color: #25ae4e;
    font-weight: 700;
  }
  
  .offer-product__button {
    display: block;
    grid-row: 4/5;
    align-self: self-end;
    color: #000;
    text-shadow: 0 1px 1px rgba(255,255,255,.5);
    background: #f3ce75;
    background: linear-gradient(to bottom,#f3ce75 0,#edb52f 100%);
    font-size: 2.4rem;
    font-weight: 600;
    max-height: 60px;
  }
  .offer-product:hover .offer-product__button {
    background: #f4d17e!important;
    background: linear-gradient(to bottom,#f4d17e 0,#f0c14f 100%)!important;
  }
}


/* #region product-offers__selection */

.product-offers__selection {
  padding: 40px;
  color: #434339;
  background: #efefef;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-top: 0;
  margin-bottom: 90px;
}

offer-product-selection {
  display: grid;
  justify-content: center;
  background: #fff;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0 0 0 1px #0000000d,0 0 4px #0000001a;
  justify-items: center;
}
.offer-product__common_title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.variant-images {
  max-width: fit-content;
  min-height: 20rem;
}
.variant-images img {
  max-height: 90px;
  max-width: 100%;
  width: 100%;
  display: block;
}

.variant-name {
  display: none;
}

.variants-list {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-top: 2.5rem;
}
.variant-option {
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  display: grid;
  gap: 10px;
}
.variant-option * {
  pointer-events: none;
}
.variant-option .variant-option__swatch {
  background-color: gray;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #efefef;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
}
.variant-option.blue .variant-option__swatch {
  background-color: rgb(0, 212, 255);
}
.variant-option.pink .variant-option__swatch {
  background-color: rgb(255, 147, 177);
}
.variant-option.variety .variant-option__swatch {
  background: linear-gradient(to right, #00d4ff 0%, #00d4ff 50%, #ff93b1 50%, #ff93b1 100%);;
}
.variant-option[aria-pressed="true"] .variant-option__swatch {
  box-shadow: 0 0 0 5px #d4d1cb,0 0 0 6px #c5c0b8;
}
.variant-option .variant-option__swatch svg {
  display: none;
  margin: 15px;
}
.variant-option[aria-pressed="true"] .variant-option__swatch svg {
  display: block;
}

@media screen and (min-width: 750px) {
  .variant-images img {
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    display: block;
  }
}

/* #endregion product-offers__selection */


.offer-product-total {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #c4c4c4;
}
.offer-product-total__price {
  font-size: 2.8rem;
  color: #000;
  font-weight: 700;
  min-width: 30rem;
  text-align: right;
}
.offer-product-total .cart__checkout-button {
  background: linear-gradient(to bottom,#25ad4e 0,#1c833b 100%)!important;
  padding: 1.7rem 6rem;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.offer-product-total .cart__checkout-button {
  background: #27b552!important;
  background: linear-gradient(to bottom,#27b552 0,#1e8b3f 100%)!important;
}

@media screen and (min-width: 750px) {
}

/* #endregion product-offers*/
