.multicolumn-icon-text-grid .grid {
  --grid-desktop-horizontal-spacing: 0px;
  --grid-desktop-vertical-spacing: 0px;
  --grid-mobile-horizontal-spacing: 0px;
  --grid-mobile-vertical-spacing: 0px;
}

.multicolumn-card {
  display: grid;
  grid-template-columns: 8rem 1fr;
  align-items: center;
}